body {
  background: #f6f9fc;
  color: #223d61;
  margin: 30px 0px;
}

hr {
  border-top: 1px solid #ebf1f8;
  margin-left: -20px;
  margin-right: -20px;
}

label {
  font-size: 20px;
  font-weight: normal;
  padding-left: 10px !important;
  margin-bottom: 10px !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
